body {
    background-color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-image: url('Untitled\ design.png');
    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}    

.header{
    background-color:#05364d;
    color: white;
    width: 100%;
    font-size: xx-large;
    display: flex;
}
.headersubtitle{
    font-size: x-large;
    color: white;
    text-decoration: none;
}
.header a{
    top: 20%;
    padding: 5%;
   }
   .paragraph {
    width: 90%;
    line-height: 40px;
    padding-left:60px ;
}
.subtitle{
    color: #05364d;
    text-decoration: none;
    font-size: x-large;
    
}
@media screen and (max-width: 700px) {
   .header a{
    font-size: 20px;
   }
   .headersubtitle{
    font-size: 15px;
}
  }
  
  @media screen and (max-width: 400px) {
    .header a{
     font-size: 10px;
    }
    .headersubtitle{
        font-size: 8px;
    }
   
   }
   .logo{
    margin-top: 20px;
    width: 200%;
    height: 80%;
}
@media screen and (max-width: 700px) {
    .logo{
        margin-top: 20px;
        width: 150%;
        height: 80%;
    }
    .open-btn {
        font-size: 30px;
    }
}
   @media screen and (max-width: 400px) {
    
    .open-btn {
        font-size: 20px;
    }
    }
    @media screen and (max-width: 400px) {
        .logo{
            margin-top: 20px;
            width: 150%;
            height: 80%;
        }

    }

 /*
 ==========
 NAVBAR
 ==========
 */
 .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #05364d;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1;
}
.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    background-color: #05364d;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}
.open-btn {
    font-size: 50px;
    cursor: pointer;
    color: white;
    background-color: #05364d;
    max-width: 200px;
    max-height: 200px;
    border: none;
    right: -20%;
}
@media screen and (max-width: 700px) {
    .open-btn {
        font-size: 40px;
        cursor: pointer;
        color: white;
        background-color: #05364d;
        max-width: 200px;
        max-height: 200px;
        border: none;
    }
   }
   @media screen and (max-width: 400px) {
    .open-btn {
        font-size: 25px;
        cursor: pointer;
        color: white;
        background-color: #05364d;
        max-width: 200px;
        max-height: 200px;
        border: none;
    }
    }
.headersection3{
    max-width: 200px;
        max-height: 200px;
    padding: 5%;
    display: grid;
    justify-content: center;
    align-items: center;
}

/*FOOTER*/
.grid-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    width: 100%;
    background-color:#05364d;
  
  }
  
  @media (min-width: 640px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .grid-item {
    background-color:#05364d;
    color: white;
    padding: 1rem;
    text-align: center;
    
  }
  .grid-container p{
    color: white;
  }
  .grid-container a{
    color: white;
  }
  hr{
    color: white;
  }
  .grid-item.rows{
    display: flex;
  }
/*
    color: rgba(0, 31, 63, 0.7);
*/
